._2048 {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    justify-content: center;
    align-content: center;
    background: #bbada0;
    border-radius: 5px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    color: #776e65;
    font-size: 55px;
    font-weight: bold;
    background: #cdc1b4;
    border-radius: 3px;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.tile-0 {
    background: #cdc1b4;
}

.tile-1 {
    background: #eee4da;
}

.tile-2 {
    background: #EDE0C8;
}

.tile-3 {
    color: #F9F6F2;
    background: #F2B179;
}

.tile-4 {
    color: #F9F6F2;
    background: #F59563;
}

.tile-5 {
    color: #F9F6F2;
    background: #F67C5F;
}

.tile-6 {
    color: #F9F6F2;
    background: #F65E3B;
}

.tile-7 {
    color: #F9F6F2;
    background: #EDCF72;
}

.tile-8 {
    color: #F9F6F2;
    background: #EDCC61;
}

.tile-9 {
    color: #F9F6F2;
    background: #EDC850;
}

.tile-10 {
    color: #F9F6F2;
    background: #EDC53F;
}

.tile-11 {
    color: #F9F6F2;
    background: #EDC22E;
}



.new-tile {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.move-left-1 {
    animation: move-left-1 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-left-2 {
    animation: move-left-2 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-left-3 {
    animation: move-left-3 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-right-1 {
    animation: move-right-1 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-right-2 {
    animation: move-right-2 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-right-3 {
    animation: move-right-3 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-up-1 {
    animation: move-up-1 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-up-2 {
    animation: move-up-2 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-up-3 {
    animation: move-up-3 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-down-1 {
    animation: move-down-1 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-down-2 {
    animation: move-down-2 200ms ease 100ms;
    animation-fill-mode: backwards;
}
.move-down-3 {
    animation: move-down-3 200ms ease 100ms;
    animation-fill-mode: backwards;
}

@keyframes move-left-1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100px);
    }
}
@keyframes move-left-2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200px);
    }
}
@keyframes move-left-3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-300px);
    }
}
@keyframes move-right-1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}
@keyframes move-right-2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}
@keyframes move-right-3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(300px);
    }
}
@keyframes move-up-1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100px);
    }
}
@keyframes move-up-2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200px);
    }
}
@keyframes move-up-3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-300px);
    }
}
@keyframes move-down-1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100px);
    }
}
@keyframes move-down-2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(200px);
    }
}
@keyframes move-down-3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(300px);
    }
}
